# .NET Core
bin/
obj/
.vs/
*.user
*.userosscache
*.suo
*.dbmdl
*.jfm
*.dll
*.exe
*.pdb
*.cache
*.generated.cs

# Angular
/dist
/tmp
/out-tsc
/bazel-out
.angular/
**/.angular/cache/
.nx/
node_modules/
**/node_modules/

# Visual Studio Code
.vscode/
.editorconfig
.history/
.vs/
*.code-workspace

# Environment files
src/environments/*.ts
!src/environments/environment.ts
appsettings.Development.json
appsettings.Production.json
.env
.env.*
!.env.example

# Database
*.db
*.db-shm
*.db-wal
*.sqlite
*.sqlite3